<link rel="stylesheet" href="menu.css" />

    <div class="row">
        <div class="col-8">

            <section class="wrapper">
                <div id="lista-productos" class="container-fostrap">
                    <div>
                        <h1 class="heading">
                            Porciones de pizza
                        </h1>
                    </div>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://thumbs.dreamstime.com/b/rebanada-de-pizza-hawaiana-48275315.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza Hawaiana
                                            </h4>
                                            <p class="">
                                                Queso,piña,mortadela
                                            </p>
                                            <p class="bold"> 1.500</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="1" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img src="https://images.rappi.com/products/2091396935-1579800747450.png" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza Criolla
                                            </h4>
                                            <p class="">
                                                Queso,carne y maiz tierno
                                            </p>
                                            <p class="bold"> 2.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="2" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://thumbs.dreamstime.com/b/rebanada-de-la-pizza-de-salchichones-3939842.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza de Pollo con Salami
                                            </h4>
                                            <p class="">
                                                Queso,pollo,salami con especies de oregano
                                            </p>
                                            <p class="bold"> 2.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="3" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://images.deliveryhero.io/image/pedidosya/products/d29bb7e8-02e4-4834-bad3-e3f88c9328eb.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza Ranchera
                                            </h4>
                                            <p class="">
                                                Queso, Carne, salchicha ranchera, tocino crocante, maíz tierno, BBQ y
                                                especias de cilantro y orégano.
                                            </p>
                                            <p class="bold"> 2.500</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="4" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://www.gastroactitud.com/wp-content/uploads/2017/07/140311134629-pizza.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza Argentina
                                            </h4>
                                            <p class="">
                                                Queso, pollo, pimentón, aceitunas, jamón, tomate, salsa picante y
                                                especias.
                                            </p>
                                            <p class="bold"> 2.500</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="5" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://static.wixstatic.com/media/7f727a_33c7c467ed174ab3a7e62d301be5e3a9~mv2.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza de Pollo con champiñones
                                            </h4>
                                            <p class="">
                                                Queso, pollo, campiñones y especias.
                                            </p>
                                            <p class="bold"> 2.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="6" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img src="https://amarillasdecolombia.co//imagenes/84d09c_1%20(2).jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Porción de Pizza Estofada
                                            </h4>
                                            <p class="">
                                                Doble Queso, pollo, carne, jamón, adobada con toques de cebolla dulce y
                                                especias.
                                            </p>
                                            <p class="bold"> 4.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="7" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h1 class="heading">
                            Pizzas enteras
                        </h1>
                    </div>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img src="https://www.hosteleriasalamanca.es/fotos/1533025888.6461.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza Hawaiana
                                            </h4>
                                            <p class="">
                                                Queso,piña,mortadela
                                            </p>
                                            <p class="bold"> 15.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="8" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://static.wixstatic.com/media/f6fb54_bf4641dc0fe544d38c0dfe37e4a0b374.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza Criolla
                                            </h4>
                                            <p class="">
                                                Queso,carne y maiz tierno
                                            </p>
                                            <p class="bold"> 20.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="9" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://aws.traveler.es/prod/designs/v1/assets/1000x667/24069.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza de Pollo con Salami
                                            </h4>
                                            <p class="">
                                                Queso,pollo,salami con especies de oregano
                                            </p>
                                            <p class="bold"> 20.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="10" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://cdn.colombia.com/sdi/2012/06/22/91b4d5eecfa44722a7a39d5e42cd8b3c.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza Ranchera
                                            </h4>
                                            <p class="">
                                                Queso, Carne, salchicha ranchera, tocino crocante, maíz tierno, BBQ y
                                                especias de cilantro y orégano.
                                            </p>
                                            <p class="bold"> 25.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="11" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://upload.wikimedia.org/wikipedia/commons/6/63/Sobran_palabras_y_muzza.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza Argentina
                                            </h4>
                                            <p class="">
                                                Queso, pollo, pimentón, aceitunas, jamón, tomate, salsa picante y
                                                especias.
                                            </p>
                                            <p class="bold"> 25.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="12" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img
                                                src="https://www.pizzaspiccolo.com.co/wp-content/uploads/2015/11/pizza-pollo-champinones-sp.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza de Pollo con champiñones
                                            </h4>
                                            <p class="">
                                                Queso, pollo, campiñones y especias.
                                            </p>
                                            <p class="bold"> 20.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="13" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-3">
                                    <div class="card">
                                        <a class="img-card">
                                            <img src="https://amarillasdecolombia.co/imagenes/9744bf_5.jpg" />
                                        </a>
                                        <div class="card-content">
                                            <h4 class="card-title">
                                                Pizza Estofada
                                            </h4>
                                            <p class="">
                                                Doble Queso, pollo, carne, jamón, adobada con toques de cebolla dulce y
                                                especias.
                                            </p>
                                            <p class="bold"> 40.000</p>
                                        </div>
                                        <div class="card-read-more">
                                            <a data-id="14" class="btn btn-link btn-block agregar-carrito ">
                                                Agregar producto
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <div class="col-4">
            <section class="wrapper" style="display: flex;">
                <div class="container-fostrap">
                    <h1 class="heading">
                        Carrito de compras
                    </h1>
                    <div class="card">
                <div id="carrito" class="card-body">
                        <table id="lista-carrito" class="table">
                            <thead>
                                <tr>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <button id="vaciar-carrito" type="button" class="btn btn-warning">Vaciar carrito</button>
                        <button type="button" data-toggle="modal" data-target="#exampleModal"
                            class="btn btn-success" >Procesar pedido</button>
                    </div>
                </div>
        </div>
        </section>

    </div>


    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Resumen de pedido</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table id="resumen-pedido" class="table">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Precio individual</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            </tr>
                        </tbody>
                    </table>

                    <div class="row">
                        <h4>TOTAL: </h4>
                        <spam id="total"></spam>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="pedido" class="btn btn-primary">Aceptar pedido</button>
                </div>
            </div>
        </div>
    </div>
    </div>
