<div class="Content">
        <h1 class="Titulo">Sobre Nosotros</h1>
        <h4>Conoce un poco mas acerca de la pizzeria de Pizzarela Florencia</h4>

        <h1>
            <div class="row">
                <h1 class="Reseña">Reseña historica de la organización</h1>
                <h2></h2>
                <p class="colorreseña">La Pizzería Pizzarella fue fundada en el 2012 por Wilber Corrales y su esposa Yesenia Gómez en el
                    Malvinas de
                    Florencia Caquetá en sus inicios solo contaba con un empleado el cual se encargaba de todo el
                    proceso y
                    venta de preparación de Pizza contando con materiales básicos como con un horno de un puesto, una
                    pequeña
                    vitrina para dos Pizzas y en un espacio bastante reducido. Desde sus inicios la empresa conto con
                    una gran
                    aceptación por parte de la población llegando en muy poco tiempo a tener que aumentar su personal
                    debido al
                    aumento sustancial en las ventas, poco a poco con el pasar de los años esta empresa fue creciendo
                    hasta que
                    en noviembre del mismo año se traspasó al barrio simón bolívar donde se ha mantenido hasta el día de
                    hoy.
                    Actualmente cuenta con una planta fija de empleados y unos volúmenes de venta bastante prometedor.
                </p>
                <div class="col-md-4">
                    <h3></h3>
                    <ul>
                        <li>
                            <a href=""><img class= "Imagen" src="img/carrusel (2).jpeg" alt="Mision" /></a>
                        </li>
                    </ul>
                </div>

                </section>
        </h1>


        <h1>
            <div class="row">
                <h1 class="Radio">Radio de acción</h1>
                <h2></h2>
                <p class="ColorRadio">La pizzería de Pizzarela actúa principalmente a nivel municipal, realizando ventas a personas de
                    diferentes
                    barrios de Florencia, además de en algunos casos puntuales a personas que se movilizan de otros
                    municipios
                    aledaños a Florencia para degustar sus productos (en este caso su rango de acción se ampliaría a
                    nivel
                    departamental).</p>
                <div class="col-md-4">
                    <h3></h3>
                    <ul>
                        <li>
                            <a href=""><img src="img/florencia.png" alt="Mision" /></a>
                        </li>
                    </ul>
                </div>

                </section>
        </h1>


        <section>
            <div class="row">
                <div class="col-md-6">
                    <div class="container-misvis" id="container-left">
                        <h2>Mision:</h2>
                        <p>La pizzería Pizzarela es una empresa de servicio de comida rápida, dedicada a la elaboración
                            y venta de pizzas con ingredientes de primera calidad y un precio accesible a la población
                            en general a
                            su vez que competitivo con respecto a otras empresas del sector. Teniendo en cuenta valores
                            como la
                            honestidad, el respeto, la sana competitividad y el emprendimiento buscamos brindar el mejor
                            servicio
                            posible a nuestros clientes además generar un producto que cumpla con estándares de buena
                            calidad.</p>
                        <ul>
                            <li>
                                <a href=""><img class="imagenMision" src="img/mision.jpg" alt="Mision" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container-misvis" id="container-right">
                        <h2>Vision:</h2>
                        <p>Para el año 2025 nuestra empresa será reconocida a nivel local por sus excelentes productos,
                            y se denotara como la primera opción a escoger dentro del sector, además, nuestra empresa
                            contará con diversos puntos de venta incluyendo tecnologías TIC que faciliten el acceso a
                            nuestros productos y servicios.</p>
                        <ul>
                            <li>
                                <a href=""><img src="img/Vision.png" alt="Vision" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>