    <section>
        <div class="row">
            <div class="col-md-6">
                <div class="container-maps" id="container-left">
                    <h2>Cede El Bolivar:</h2>
                    <p>Nuestra sucursal más antigua, ubicada en el barrio Simón Bolívar a pocas cuadras de la
                        universidad de la amazonia este local tiene más de siete años de servicio al público y es un
                        increíble lugar para pasarla en familia o con amigos, un sitio de encuentro con una excelente
                        atmosfera y una deliciosa comida que te dejara con muchas ganas de regresar.</p>
                    <img src="img/img (3).jpeg" alt="imagen cede bolivar" class="img-cede">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.9901351048416!2d-75.60501588572427!3d1.622097298817143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e244f1edf62a677%3A0x66419f4647ead2c8!2sPizzarela!5e1!3m2!1ses-419!2sco!4v1597279295049!5m2!1ses-419!2sco"
                        width="500" height="400" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div class="container-maps" id="container-right">
                    <h2>Cede La Ciudadela:</h2>
                    <p>Fundada en el 2019 llega al barrio la ciudadela siglo XXI con la intención de ofrecer a toda su
                        comunidad una deliciosa experiencia, un ambiente y atención de primera calidad. La decisión
                        perfecta para pasar una noche en familia o disfrutar de ese delicioso sabor que tanto se te
                        antoja. Ven y atrévete a visitarnos en nuestra nueva cede.</p>
                    <img src="img/img (18).jpeg" alt="imagen cede ciudadela" class="img-cede">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3416.9901351048416!2d-75.60501588572427!3d1.622097298817143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e244f1edf62a677%3A0x66419f4647ead2c8!2sPizzarela!5e1!3m2!1ses-419!2sco!4v1597279295049!5m2!1ses-419!2sco"
                        width="500" height="400" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>